#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {  
  display: grid;
  grid-template-areas:
    "menu header"
    "menu items"
    "menu content";
  grid-template-columns: 1fr 3fr; /* Menu chiếm 1 phần, còn lại là content và items */
  gap: 10px;
  background-color: #2196F3;
  padding: 5px;
}

.container > div {
  
  padding: 10px;
}

.container > div.header {
  grid-area: header;
  text-align: center;
}

.container > div.menu {
  grid-area: menu;
  padding: 15px;
 
}


.container > div.content {
  height: 350px;
  grid-area: content;
}

.container > div.items {
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Chia làm 3 cột cho các card */
  gap: 10px;
}
.header {
  display: flex;
}
.header p {
  width: 500px;
  text-align: left;
}
.container > div.items .card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.searchAndIcon {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  justify-content: center;
}
#search {
  width: 300px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.3s;
}
.searchAndIcon img {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Bo tròn hình ảnh */
  background-color: #f0f0f0; /* Nền nhẹ cho hình ảnh */
  padding: 5px; /* Tạo khoảng cách giữa hình ảnh và nền */
  object-fit: cover; /* Đảm bảo hình ảnh vừa vặn trong vòng tròn */
  cursor: pointer;
  transition: 0.3s;
}
.card {
  height: 150px;
  width: 250px;
}